.conteneur {
    display : flex;
    font-size : 20px;
    background-color : #0AD;
    border : 2px solid blue;
    box-sizing : border-box;
    margin : 10px 0px
  }
  .conteneur {
    flex-flow : row wrap
  }

  .elmt{
    flex : 0 0 10%;
    background-color : #0DA;
    padding : 10px 0px;
    text-align : center;
    border : 2px solid green;
    box-sizing : border-box;
    margin : 5px;
  }
  .p{
    font-size : large
}



